<div id="samples-container">
    <div id="samples-box">
        <h3 class="comments">سلام! ما تیمی از برنامه‌نویسان حرفه‌ای هستیم</h3>
        <h6 class="comments">با تجربه در طراحی و توسعه نرم‌افزارهای دسکتاپ، وب و اپلیکیشن‌های سفارشی</h6>
        <br />
        <partial name="../Shared/Partials/_Cart.cshtml" />
    </div>
</div>


<style>
    #samples-container {
        padding-inline: 15px;
    }

    #samples-box {
        /* background-color: whitesmoke; */
        border-radius: 15px;
        height: 600px;
        padding:10px;
    }

    .comments {
        width: 100%;
        text-align: center;
    }

</style>