@using CleanArch.Application.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}
@* 
<div>
    <div class="row">
        <ul>
            @foreach (var item in @Model.Users)
            {
                <li>
                    <a>@item.Name</a>
                </li>
            }
        </ul>
    </div>
</div> *@