@using CleanArch.Application.ViewModels
@model CartViewModel

<div id="cart-container" class="b-shadow4">
    <div id="cart-image">
        <div id="cart-image-box" style="background-image: url('/images/samples/@Model.FileName');">
            
        </div>
    </div>
    <div id="cart-details">
        <div class="w-100">
            <label id="cart-details-title" class="cart-details-text"><strong>@Model.Title</strong></label>
        </div>
        <div class="w-100">
            <label id="cart-details-toolsName" class="cart-details-text">@Model.ToolsName</label>
        </div>
        <div class="w-100">
            <label id="cart-details-description" class="cart-details-text">@Model.Description</label>
        </div>
        <div id="cart-details-btnshow-box">
            <a id="cart-details-btnshow" class="btn" asp-controller="Account" asp-action="Login">
                نمایش
            </a>
            <label>@Model.Rate ⭐</label>
        </div>
    </div>
</div>
