<div id="aboutus-container">
    <div id="aboutus-box">
        <h1>تماس با ما</h1>
    </div>
</div>


<style>
    #aboutus-container {
        padding-inline: 15px;
        height: 400px;
    }

    #aboutus-box {
        background-color: whitesmoke;
        border-radius: 15px;
        display: flex;
    }

    h1 {
        width: 100%;
        text-align: center;
    }
</style>