<!DOCTYPE html>
<html lang="en" style="zoom:1.0;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -> Ali Reza Moghanloo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/samples.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-transparent d-flex; justify-content-between">
            <div class="right-menu-section p-2">
                <span id="layout-bar">
                    <img src="~/images/icons/menu.svg" />
                </span>
                <span>
                    <profile class="">
                        <img id="img-profile" src="~/images/icons/user.svg" />
                        @User.Identity.Name
                    </profile>
                </span>
                <span>
                    <label id="lbl-logo"></label>
                </span>
            </div>
            <div class="center-menu-section p-2">
                <div class=" d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 p-0">
                        <li class="nav-item pull-right">
                            <a class="tab-link text" asp-controller="Samples" asp-action="ProgramSamples" data-id="1">نمونه کارها</a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="tab-link text" asp-controller="Account" asp-action="Login" data-id="2">انواع طراحی</a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="tab-link text" asp-controller="Account" asp-action="Login" data-id="3">شرایط و قوانین کار</a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="tab-link text" asp-controller="AboutUs" asp-action="About" data-id="4">تماس با ما</a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="tab-link text" asp-controller="Account" asp-action="Logout" data-id="4">خروج</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-section p-2">
                <a style="margin-left:15px; padding: 0px 25px;" class="btn btn-dark" asp-controller="Account" asp-action="Login">
                    ورود
                </a>
                <span>
                    <img src="~/images/icons/search.svg" />
                </span>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    // وقتی صفحه لود شد، رنگ لینک انتخاب شده را اعمال کن
    window.addEventListener('DOMContentLoaded', () => {
        const selectedId = localStorage.getItem('selectedLinkId');
    if (selectedId) {
        document.querySelectorAll('.tab-link').forEach(link => {
            if (link.getAttribute('data-id') === selectedId) {
                link.style.backgroundColor = 'whitesmoke';
            } else {
                link.style.backgroundColor = '';
            }
        });
        }
    });

    // وقتی روی لینک کلیک شد، رنگش خاکستری شود و ذخیره شود
    document.querySelectorAll('.tab-link').forEach(link => {
        link.addEventListener('click', function (e) {
            //e.preventDefault(); // اگر نمیخوای صفحه رفرش بشه
            const id = this.getAttribute('data-id');
            localStorage.setItem('selectedLinkId', id);

            // تغییر رنگ لینک‌ها
            document.querySelectorAll('.tab-link').forEach(l => l.style.backgroundColor = '');
            this.style.backgroundColor = 'whitesmoke';
        });
    });
</script>