@using CleanArch.Application.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-danger">
        شما دسترسی ندارید
    </div>
}
<div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>ورود</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div style=" margin-top: 15px;">
                <input style="width: 15px;" class="form-check-input" asp-for="RememberMe" />
                <label asp-for="RememberMe" class="form-check-label">
                    @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class="btn btn-primary" />
            </div>
        </form>
        <h2>&nbsp;</h2>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
