@using CleanArch.Application.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-danger">
        شما دسترسی ندارید
    </div>
}

<div class="center-container">
    <div class="container" onclick="onclick">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group position-relative">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="input-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <span>
                    <img id="img-password" src="~/images/icons/eye.svg" class="svg-icon" onclick="inputPassword()" />
                </span>
            </div>
            <br />
            <div id="remember-entry">
                <input type="submit" value="ورود" class="btn btn-dark" />
                <div style="display: inline-block;">
                    <input style="width: 15px;" class="form-check-input" asp-for="RememberMe" />
                    <label asp-for="RememberMe" class="form-check-label">
                        @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
            </div>
        </form>
        <br />
        <div class="form-group nav-link d-flex justify-content-center w-100">
            <a style="margin-right:6px; text-align:center;" asp-controller="Account" asp-action="Register" /> ایجاد حساب کاربری
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

